/*
 Mudança da cor do fundo
 */
body{
    background-color: var(--primaria);
}

/*
 Mudança das cores do Navbar
 */
nav{
    background-color: var(--branco);
}

nav .collapsed,
nav .navbar-collapse{
    background-color: var(--branco);
}

nav .nav-link,
nav .dropdown-item{
    color: var(--primaria);
}

nav .link-secondary{
    color: var(--primaria) !important;
}

nav .dropdown-item:hover,
nav .dropdown-item:focus,
nav .nav-link:hover,
nav .link-secondary:hover,
nav .nav-link:focus,
nav .link-secondary:focus{
    background-color: var(--primaria);
    color: var(--branco) !important;
}

nav .dropdown-menu{
    background-color: var(--branco);
}

nav .toggler-icon{
    background: var(--primaria);
}
/*
 Mudança das cores do Footer
 */
footer .container-fluid{
    background-color: var(--branco);
}

footer .nav-link{
    color: var(--primaria);
}

footer .nav-link:hover,
footer .nav-link:focus{
    background-color: var(--primaria);
    color: var(--branco) !important;
}


footer .link-secondary{
    color: var(--primaria) !important;
}

footer .link-secondary:hover,
footer .link-secondary:focus{
    background-color: var(--primaria);
    color: var(--branco) !important;
}

/*
    Card
 */


main .card{
    border-radius: 50px;
    border: var(--primaria) 2px solid;
    width: 35vw;
    height: fit-content;
}

main .card:hover{
    z-index: 3000;
}

main .card .card-quote{
    font-family: "Times New Roman", serif;
    color: var(--cinza);
    font-size: 1.5rem;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
}

main .card .card-quote-info{
    font-family: "Times New Roman", serif;
    color: var(--cinza);
    text-align: end;
    font-size: 0.8rem;
    width: 50%;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
}

main .card-um{
    z-index: 0;
}

main .card-dois{
    z-index: 1;
}

main .card-tres{
    z-index: 2;
}

main .card-quatro{
    z-index: 3;
}

main .card-cinco{
    z-index: 4;
}

main .card-seis{
    z-index: 5;
}

main .card-sete{
    z-index: 9;
}

main .card-oito{
    z-index: 7;
}

main .card-nove{
    z-index: 5;
}