@import "cores.css";

h1{
    font-family: Gloucester MT, serif;
    font-size: 4.5rem;
    margin: 0;
    letter-spacing: -0.1rem;
    text-transform: uppercase;
    padding: 0;
    word-wrap: break-word;
}

.t-page{
    color: var(--secundaria);
}

.t-article{
    color: var(--primaria);
}

p{
    font-family: "Times New Roman", serif;
    color: var(--cinza);
    font-size: 1.2rem;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
}

.text-black{
    color: var(--preto);
}

.text-bold{
    font-weight: bold;
}

